<footer class="footer">
  <div class="page-wrapper">
    <div class="hero-icon-scroll-down">
      <a href="./index.html#top">
        <img
          src="./assets/images/ico-arrow.svg"
          alt="Back to top"
          title="Back to top"
        />
      </a>
    </div>
      <nav class="menu-sections">
        <ul class="menu-sections-list">
          <li class="menu-sections-list-item">Articles</li>
          <li class="menu-sections-list-item">Books</li>
          <li class="menu-sections-list-item">Events</li>
          <li class="menu-sections-list-item">Reasons</li>
          <li class="menu-sections-list-item">Tips</li>
        </ul>
      </nav>
      <nav class="menu-social-media">
        <ul class="menu-social-media-list">
          <li class="menu-social-media-list-item">Twitter</li>
          <li class="menu-social-media-item">Instagram</li>
          <li class="menu-social-media-item">Mastodon Social</li>
        </ul>
      </nav>
      <small class="copy">
        <span>&copy2017</span>
        <span>we<span class="icon-heart">&#10084</span>components</span>
      </small>
  </div>
</footer>