<footer class="footer" role="contentinfo">
  <div class="footer_wrapper">
  <div class="footer_button">
    <a href="./index.html#top">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Back to top"
        title="Back to top"
      />
    </a>
  </div>
    <nav>
      <ul class="footer_list">
        <li class="footer_list-sections">
          <a
            class="footer_list-sections-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Go to articles of interest"
            >Articles</a
          >
        </li>
        <li class="footer_list-sections">
          <a
            class="footer_list-sections-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Go to recommended books"
            >Books</a
          >
        </li>
        <li class="footer_list-sections">
          <a
            class="footer_list-sections-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Go to events of interest"
            >Events</a
          >
        </li>
        <li class="footer_list-sections">
          <a
            class="footer_list-sections-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Go to reasons to purchase"
            >Reasons</a
          >
        </li>
        <li class="footer_list-sections">
          <a
            class="footer_list-sections-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Go to our tips"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer_social">
        <li class="footer_social-list">
          <a
            class="footer_social-list-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://twitter.com/Adalab_Digital"
            target="_blank"
            title="Contact with us on twitter"
            >Twitter</a
          >
        </li>
        <li class="footer_social-list">
          <a
            class="footer_social-list-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://www.instagram.com/adalab_digital/"
            target="_blank"
            title="Contact with us on Instagram"
            >Instagram</a
          >
        </li>
        <li class="footer_social-list">
          <a
            class="footer_social-list-link txt--sm txt--weight txt--light txt--center uppercase"
            href="https://adalab.es/"
            target="_blank"
            title="Contact with us on Mastodon Social"
            >Mastodon Social</a
          >
        </li>
      </ul>
    </nav>
    <small class="footer_copy">
      <span class="footer_copy-inner txt--xs txt--weight txt--light txt--center">&copy2017</span>
      <span class="footer_copy-inner txt--xs txt--weight txt--light txt--center lowercase"
        >We<span class="footer_icon">&#10084</span>components</span
      >
    </small>
  </div>
</footer>


