<footer class="footer">
  <div class="page-wrapper">
  <div class="footer-icon">
    <a href="./index.html#top">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Back to top"
        title="Back to top"
      />
    </a>
  </div>
  <div class="footer-wrapper">
    <nav>
      <ul class="footer-sections-list">
        <li class="footer-sections-list-item">
          <a
            class="footer-sections-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Articles</a
          >
        </li>
        <li class="footer-sections-list-item">
          <a
            class="footer-sections-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Books</a
          >
        </li>
        <li class="footer-sections-list-item">
          <a
            class="footer-sections-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Events</a
          >
        </li>
        <li class="footer-sections-list-item">
          <a
            class="footer-sections-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Reasons</a
          >
        </li>
        <li class="footer-sections-list-item">
          <a
            class="footer-sections-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer-social-list">
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-item-link"
            href="https://twitter.com/Adalab_Digital"
            target="_blank"
            >Twitter</a
          >
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-item-link"
            href="https://www.instagram.com/adalab_digital/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="footer-social-list-item">
          <a
            class="footer-social-list-item-link"
            href="https://adalab.es/"
            target="_blank"
            >Mastodon Social</a
          >
        </li>
      </ul>
    </nav>
    <small class="footer-copy">
      <span class="footer-copy-inner">&copy2017</span>
      <span class="footer-copy-inner"
        >we<span class="footer-heart">&#10084</span>components</span
      >
    </small>
  </div>
</div>
  </footer>


