<section class="hero" role="banner">
  <div class="hero_wrapper">
    <h1
      class="hero_title txt--title txt--xxl txt--light text--center uppercase"
    >
      <span>Anonymous</span>
      <span>proxy</span>
    </h1>
    <p class="hero_subtitle txt--light text--center">
      In hac habitasse platea dictumst.
    </p>
    <div class="hero_button">
      <a href="./index.html#main-reasons">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Link to reasons to purchase section"
          title="Go to reasons to purchase"
        />
      </a>
    </div>
  </div>
</section>
