<section class="main-reasons" id="main-reasons">
  <div class="page-wrapper">
    <h4 class="main-reasons-title">3 reasons to purchase</h4>
    <div class="main-reasons-wrapper">
      <div class="article-1">
        <include
          src="./main-article.html"
          title="Ut sed metus"
          text="Lorem ipsum dolor sit amet, consecteur."
        ></include>
      </div>
      <div class="article-2">
        <include
          src="./main-article.html"
          title="Curabitur ac erat"
          text="Mauris mattis urna quis lorem molestie."
        ></include>
      </div>
      <div class="article-3">
        <include
          src="./main-article.html"
          title="Morbi dictum"
          text="Aliquam in dolor et dolor tincidunt."
        ></include>
      </div>
    </div>
    <div class="main-reasons-button-container">
      <a
        href="https://adalab.es/"
        title="Go to reasons to purchase"
        target="_blank"
        ><input class="main-reasons-button" type="button" value="More reasons"
      /></a>
    </div>
  </div>
</section>
