<section class="main-reasons" id="main-reasons">
  <div class="page-wrapper">
    <div class="main-reasons-wrapper">
      <h4 class="main-reasons-title">3 reasons to purchase</h4>
      <include
        class="title-1 text-1"
        src="./main-article.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consecteur."
      ></include>
      <include
        class="title-2 text-2"
        src="./main-article.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie."
      ></include>
      <include
        class="title-3 text-3"
        src="./main-article.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
      ></include>
      <a
        href="https://adalab.es/"
        title="Go to reasons to purchase"
        target="_blank"
        ><input class="main-reasons-button" type="button" value="More reasons"
      /></a>
    </div>
  </div>
</section>
