<section class="main-reasons" id="main-reasons" role="complementary">
  <h4
    class="main-reasons_title txt--title txt--xl txt--dark txt--center capitalize"
  >
    3 reasons to purchase
  </h4>
  <div class="main-reasons_wrapper txt--center">
    <div class="main-reasons_article-1">
      <include
        src="./main-article.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consecteur."
      ></include>
    </div>
    <div class="main-reasons_article-2">
      <include
        src="./main-article.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie."
      ></include>
    </div>
    <div class="main-reasons_article-3">
      <include
        src="./main-article.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
      ></include>
    </div>
  </div>
  <a href="https://adalab.es/" target="_blank" title="Go to reasons to purchase"
    ><input
      class="main-reasons_button txt--lg txt--weight txt--light txt--center capitalize"
      type="button"
      value="More reasons"
      aria-label="More reasons"
  /></a>
</section>
