/* colors */
$color-brand-1: #ffffff;
$color-brand-2: #eff9ff;
$color-brand-3: #304268;
$color-brand-4: #f26002;
$color-brand-5: #000000;
$color-brand-6: #8ccbea;
$color-brand-7: #4a4a4a;
$color-brand-8: #0271bc;

/* fonts */
$font-family: "Roboto", sans-serif;
$font-family-title: "Roboto Slab", serif;
$font-size: 16px;
$line-height: 1.25;
$font-color-base: $color-brand-7;
$font-color-light: $color-brand-1;
$font-color-dark: $color-brand-5;
$font-weight: normal;
$text-align: center;
