.footer {
  display: flex;
  flex-direction: column;
  background-color: #304268;
  padding: 60px 86px 45px 87px;
  position: relative;
  @media all and (min-width: 768px) {
    padding: 45px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 45px 370px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 22.5px;
  position: absolute;
  top: -22.5px;
  left: 43%;
  @media all and (min-width: 768px) {
    left: 48%;
  }
  @media all and (min-width: 1200px) {
    left: 49%;
  }
  @keyframes footer-icon {
    from {
      transform: translate(0, 0);
      border: none;
    }
    to {
      transform: translate(0, -10px);
      border: 3px solid #f26002;
    }
  }
}

.footer-icon:hover {
  animation-name: footer-icon;
  animation-direction: normal;
  animation-iteration-count: 3;
  animation-duration: 1s;
}

.footer-wrapper {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-sections-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding: 0;
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.footer-sections-list-item {
  list-style-type: none;
}

.footer-sections-list-item-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.footer-social-list {
  display: block;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding: 0;
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.footer-social-list-item {
  list-style-type: none;
}

.footer-social-list-item-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.footer-copy {
  text-align: center;
  @media all and (min-width: 768px) {
    order: -1;
  }
}

.footer-copy-inner {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  color: #ffffff;
  @media all and (min-width: 768px) {
    text-align: left;
  }
}

.footer-heart {
  color: #f26002;
}
