.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: yellow;
}

.hero-title-inner {
  display: block;
  text-align: center;
}

.hero-icon {
  display: flex;
  justify-content: center;
}
