.main-reasons {
  padding: 30px 15px 60px 15px;
  background-color: $color-brand-2;
  @media all and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.main-reasons_title {
  margin-bottom: 45px;
}

.main-reasons_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.main-reasons_article-1 {
  grid-row: 1 / 2;
  @media all and (min-width: 768px) {
    grid-row: 1 / 2;
  }
}

.main-reasons_article-2 {
  grid-row: 2 / 3;
  @media all and (min-width: 768px) {
    grid-row: 1 / 2;
  }
}

.main-reasons_article-3 {
  grid-row: 3 / 4;
  @media all and (min-width: 768px) {
    grid-row: 1 / 2;
  }
}

.main-reasons_article {
  max-width: 180px;
  margin: auto;
  @media all and (min-width: 768px) {
    max-width: 210px;
  }
  @media all and (min-width: 1200px) {
    max-width: 350px;
  }

  &-title {
    margin-bottom: 2px;
    @media all and (min-width: 768px) {
      margin-bottom: 14px;
    }
  }
  &-text {
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.main-reasons_button {
  width: 184px;
  height: 45px;
  margin: auto;
  border-radius: 22.5px;
  border: solid 2px $color-brand-4;
  background-color: $color-brand-4;
  transition: background-color ease 2s, color ease 2s;
  &:hover {
    background-color: $color-brand-1;
    color: $color-brand-4;

    &:active {
      background-color: lighten($color-brand-4, 30%);
      opacity: 1;
    }
  }
  @media all and (min-width: 768px) {
    width: 210px;
  }
  @media all and (min-width: 1200px) {
    width: 255px;
    text-transform: capitalize;
  }
  .main-reasons_link {
    text-decoration: none;
    color: $color-brand-1;
  }
}
