.main-tips {
  margin-right: 0;
  display: flex;
  height: 376px;
  padding: 30px 0 45px 0;
  background-color: #ffffff;
  @media all and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    padding-top: 60px;
  }
}

.main-tips-title {
  width: 90px;
  height: 30px;
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 2.14;
  color: #8ccbea;
  @media all and (min-width: 768px) {
    width: 216px;
    margin-bottom: 0;
  }
  @media all and (min-width: 1200px) {
    width: 360px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.main-tips-article-title {
  width: 290px;
  height: 60px;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
  @media all and (min-width: 768px) {
    width: 690px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.73;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 32px;
    line-height: 1.41;
  }
}

.main-tips-article-text {
  width: 290px;
  height: 120px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
  @media all and (min-width: 768px) {
    width: 690px;
    height: 60px;
    font-size: 20px;
    line-height: 1.5;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    font-size: 20px;
  }
}

.main-tips-button {
  width: 76px;
  height: 45px;
  background-color: #ffffff;
  border: solid 2px #f26002;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  border-radius: 22.5px;
  color: #f26002;
  transition: background-color ease 1s, color ease 1s;
  @media all and (min-width: 768px) {
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
  }

  &:hover {
    background-color: #f26002;
    color: #ffffff;

    &:active {
      background-color: darken(#f26002, 30%);
      opacity: 1;
    }
  }
}
