.main_tips {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 0;
  padding: 30px 15px 45px;
  background-color: #ffffff;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px;
  }
}

.main-tips_title {
  margin-bottom: 1px;
  color: $color-brand-6;
  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.main-tips_article-title {
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.main-tips_article-text {
  margin-bottom: 30px;
}

.main-tips_button {
  width: 76px;
  height: 45px;
  border: solid 2px $color-brand-4;
  border-radius: 22.5px;
  background-color: $color-brand-1;
  transition: background-color ease 2s;
  @media all and (min-width: 768px) {
    width: 91px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
  }

  &:hover {
    background-color: $color-brand-4;
    &:active {
      background-color: darken($color-brand-4, 30%);
      opacity: 1;
    }
  }
}

.main-tips_link {
  text-decoration: none;
  color: $color-brand-4;
  &:hover {
    color: $color-brand-1;
  }
}
