.section-pricing {
  width: 100%;
  background-color: $color-brand-3;
  display: flex;
  flex-direction: column;
}

.section-pricing-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.article-pricing {
  margin: 30px;
}
